src\__history
src\*.bsc
src\*.~*
src\*.local
src\*.dsk
src\*.identcache
src\*.tvsconfig
src\*.skincfg
src\*.otares
src\*.jdbg
src\*.map
src\*.log
src\*.tlog
src\*.lastbuildstate
src\*.exp
src\*.vlb
src\*.o
src\*.local
src\*.identcache
src\Win32\Release\*.dcu
